<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
</head>
<body>
    <a href='http://localhost:8080/currency/timeframe' target='_self'>
        <input type='button' style='padding: 10px;margin: 10px;background-color:#1b90bb;color:#FFFFFF;border-left-width:1px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-color:#d5d5d5;border-radius:5px;cursor:pointer' value='timeframe' onMouseOver=this.style.backgroundColor='#FFFFFF';this.style.color='#1b90bb';this.style.borderColor='#d5d5d5' onMouseOut=this.style.backgroundColor='#1b90bb';this.style.color='#FFFFFF';this.style.borderColor='#d5d5d5' />
    </a>
    <br>
    <a href='http://localhost:8080/currency/live' target='_self'>
        <input type='button' style='padding: 10px;margin: 10px;
               background-color:#1b90bb;color:#FFFFFF;
               border-left-width:1px;border-top-width:1px;
               border-right-width:1px;border-bottom-width:1px;
               border-color:#d5d5d5;border-radius:5px;
               cursor:pointer' value='live' onMouseOver=this.style.backgroundColor='#FFFFFF';this.style.color='#1b90bb';this.style.borderColor='#d5d5d5' onMouseOut=this.style.backgroundColor='#1b90bb';this.style.color='#FFFFFF';this.style.borderColor='#d5d5d5' />
    </a>
    <br>
    <a href='http://localhost:8080/logout' target='_self'>
        <input type='button' style='padding: 10px;margin: 10px;background-color:#1b90bb;color:#FFFFFF;border-left-width:1px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-color:#d5d5d5;border-radius:5px;cursor:pointer' value='logout' onMouseOver=this.style.backgroundColor='#FFFFFF';this.style.color='#1b90bb';this.style.borderColor='#d5d5d5' onMouseOut=this.style.backgroundColor='#1b90bb';this.style.color='#FFFFFF';this.style.borderColor='#d5d5d5' />
    </a>

</body>
</html>